.digi-form-input__input.sc-digi-form-input {
    width: 25rem;
}

.sc-digi-form-textarea-h .digi-form-textarea__textarea.sc-digi-form-textarea {
    width: 25rem;
}

.sc-digi-button-h .digi-button--full-width.sc-digi-button {
    width: 25rem;
}
  