:root {
  color-scheme: light dark;
  color: #ffeccc;
  background-color: #487465;
  text-align: center;
}

header {
  background-color: #487465;
}

main {
  background-color: #ffeccc;
}

.sc-digi-layout-block-h {
  --digi--layout-block--background--primary: #ffeccc;
  min-height: 40vh;
}

.digi-form-input__input.sc-digi-form-input {
  color: #433a2e;
  background-color: #ffeccc;
}

.sc-digi-form-textarea-h .digi-form-textarea__textarea.sc-digi-form-textarea {
  color: #433a2e;
  background-color: #ffeccc;
}

.sc-digi-form-label-h .digi-form-label__label--label.sc-digi-form-label {
  color: #433a2e;
}

.sc-digi-button-h .digi-button--full-width.sc-digi-button {
  background-color: #d6a66e;
  color: #433a2e;
}

.sc-digi-button-h .digi-button--full-width.sc-digi-button:hover {
  background-color: #433a2e;
  color: #d6a66e;
}

.sc-digi-button-h .digi-button--size-medium.sc-digi-button {
  background-color: #c2945e;
  color: #433a2e;
}

.sc-digi-button-h .digi-button--size-medium.sc-digi-button:hover {
  background-color: #8a612e;
  color: #ffeccc;
}

/* .sc-digi-link-s>a {
  color: #005B4A !important;
  margin-bottom: 3rem;
} */

.digi-link-button--medium.sc-digi-link-button-h a.sc-digi-link-button {
  background-color: #D6A66E;
  color: #433A2E !important;
}

.digi-link-button--medium.sc-digi-link-button-h a.sc-digi-link-button:hover {
  background-color: #487465;
  color: #ffeccc !important;
}

.sc-digi-link-button-s > a {
  color: #005b4a !important;
}


/* .sc-digi-layout-container-h .digi-layout-container.sc-digi-layout-container {
  background-color: #FFECCC;
} */

footer {
  background-color: #487465;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #433a2e;
    background-color: #f0daba;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .sc-digi-form-label-h .digi-form-label__label--label.sc-digi-form-label {
    color: #433a2e;
  }
  .sc-digi-button-h {
    color: #433a2e;
  }
}
